<footer class="site-footer footer">
    <div class="wrapper">
        <div>
            <span class="copyright">Copyright &copy; Columbia University's WiCS</span>
        </div><br>
        <div>
            <ul class="list-inline social-buttons">
                <li><a href="https://twitter.com/cu_wics" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="http://www.linkedin.com/groups?home=&gid=3819189" target="_blank"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div><br>
        <div class="footer-col-wrapper">
            <div class="footer-col">
                <p class="text">{{ site.description }}</p>
            </div>
        </div>
    </div>
</footer>
