<footer class="site-footer footer">
    <div class="wrapper">
        <div>
            <span class="copyright">Copyright &copy; Columbia University's WiCS</span>
        </div><br>
        <div>
            <ul class="list-inline social-buttons">
                <li><a href="https://twitter.com/cu_wics" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="http://www.linkedin.com/groups?home=&gid=3819189" target="_blank"><i class="fa fa-linkedin"></i></a>
                </li>
                <li><a href="https://www.instagram.com/columbiawics" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
                <li><a href="mailto:cuwics@columbia.edu"><i class="fa fa-envelope"></i></a>
                </li>
            </ul>
        </div><br>
        <div class="footer-col-wrapper">
            <div class="footer-col">
                <p class="text">{{ site.description }}</p>
            </div>
        </div>
        <div style="text-align: center; margin-top: 20px;">
            <a href="https://listserv.cuit.columbia.edu/scripts/wa.exe?SUBED1=WICS&A=1" target="_blank" style="color: #ff69b4; text-decoration: none; font-weight: 500;">
                <i class="fa fa-envelope-o"></i> Subscribe to our Newsletter
            </a>
        </div>
    </div>
</footer>
